<div class="gap-y-4 flex flex-col">
    <div>
        <h2 class="text-2xl mb-4 font-extrabold">
            1. Czy dalej trwają pracę nad tłumaczeniem i czy określona jest data wydania?
        </h2>
        <p class="mb-4 text-xl">
            Tak, dalej pracujemy nad spolszczeniem, niestety nie możemy jeszcze wskazać daty wydania.
        </p>
        <hr>
    </div>
    <div>
        <h2 class="text-2xl mb-4 font-extrabold">
            2. Czy szukamy kogoś do pomocy?
        </h2>
        <p class="mb-4 text-xl">
            Aktualnie nie szukamy nikogo specjalnego do pomocy. Zawsze jednak zachęcamy do dołączenia do naszego Discorda, (link niżej) może jednak miejsce się dla
            ciebie znajdzie w naszym zespole.
        </p>
        <hr>
    </div>
    <div>
        <h2 class="text-2xl mb-4 font-extrabold">
            3. Czy tłumaczenie będzie działać na nieoryginalnej wersji gry?
        </h2>
        <p class="mb-4 text-xl">
            Nie, wspieramy tylko oficjalne wydania gry i tylko na nich tłumaczenie będzie prawidłowo działać.
        </p>
        <hr>
    </div>
    <div>
        <h2 class="text-2xl mb-4 font-extrabold">
            4. Tłumaczenie nie działa poprawnie, co zrobić?
        </h2>
        <p class="mb-4 text-xl">
            Na podstronie <a [routerLink]="'/download'" class="text-red-500">pobierz</a> znajdują się informacje jak zainstalować spolszczenie. W razie dalszych problemów
            dołącz do naszego Discorda i opisz nam swój problem.
        </p>
        <hr>
    </div>
    <div>
        <h2 class="text-2xl mb-4 font-extrabold">
            5. Mam zainstalowane inne modyfikacje, czy tłumaczenie będzie współgrało z nimi?
        </h2>
        <p class="mb-4 text-xl">
            Tłumaczenie powinno działać, aczkolwiek mogą wystąpić pewne konflikty oraz może pojawić się nieprzetłumaczony tekst, którego źródłem jest jeden z modów.
            Sugerujemy granie bez żadnych innych modyfikacji.
        </p>
        <hr>
    </div>
</div>
