
<div class="relative">
    <h1 class="text-center mb-16" [ngClass]="isBelowMd ? 'text-4xl leading-8' : 'text-[3.25rem] leading-10'">
        <b>Witajcie na stronie fanowskiego spolszczenia OMORI!</b>
    </h1>
    <div class="border-2 border-white p-4 mb-16" *ngIf="false">
        <p [ngClass]="isBelowMd ? 'text-xl' : 'text-2xl'">
            Jesteśmy grupką osób, które zebrały się razem, aby stworzyć dla Was spolszczenie gry OMORI! Chcemy, żeby jak najwięcej osób mogło poznać historię 
            barwnej grupki przyjaciół, a znajomość języka angielskiego nie była tutaj przeszkodą. Tłumaczenie to nie łatwa rzecz, pracujemy w wolnym czasie i za darmo, 
            dlatego bądźcie z nami cierpliwi!
            Zaczęliśmy pracę w sierpniu 2022 roku, nie mamy jeszcze ściśle ustalonej daty premiery tłumaczenia, ale postaram się aktualizować stronę co jakiś czas
            z wiadomościami o stanie prac. 
            <br><br>
            Jeżeli macie jakieś pytania, kierujcie się do <a [routerLink]="'/faq'" class="text-red-500">często zadawanych pytań</a>.
            A gdy owe odpowiedzi nie zaspokoiły waszej żądzy wiedzy, zachęcamy do dołączenia do naszego serwera na Discordzie, do którego link znajduje się 
            <a href="https://discord.gg/8JTc36HNyM" class="text-red-500">tu</a> lub poniżej.
            <br>
        </p>
    </div>
    <hr class="mb-16">
    <newsarticle [article]="latestArticle"></newsarticle>

  <key-component [id]="5"
                 top="20%"
                 right="-40px">
  </key-component>
</div>