<div class="text-center text-xl px-6" [ngClass]="(appTheme$ | async).theme === 1 ? 'text-white': 'text-black'">
    <div class="flex justify-center items-center space-x-10 mb-2">
        <a href="https://www.youtube.com/@studio-kielkun" class="hover:text-red-700"><fa-icon [icon]="faYoutube" size="2x"></fa-icon></a>
        <a href="https://discord.gg/8JTc36HNyM" class="hover:text-red-700"><fa-icon [icon]="faDiscord" size="2x"></fa-icon></a>
        <a href="https://twitter.com/OMORIPL" class="hover:text-red-700"><fa-icon [icon]="faTwitter" size="2x"></fa-icon></a>
        <a href="https://www.tiktok.com/@studio_kielkun" class="hover:text-red-700"><fa-icon [icon]="faTiktok" size="2x"></fa-icon></a>
    </div>
    <p>OMORI is a registered trademark of <a class="text-red-800" href="https://www.omocat-shop.com/">OMOCAT LLC.</a>
    <br>
    This website, as well as the translation are unofficial, non-profit and have no association with OMOCAT LLC.
    <br>
    Website created by <a class="text-red-800" href="https://github.com/Skejven11">Skejven</a>, team portraits made using 
    <a class="text-red-800" href="https://twitter.com/sapgoon_">Sapgoon's</a> Picrew.</p>
</div>
