<div class="text-center text-white">
    <div class="flex justify-center items-center space-x-10 mb-2">
        <a href="https://twitter.com/Skejveno"><fa-icon [icon]="faDiscord" size="2x"></fa-icon></a>
        <a href="https://twitter.com/Skejveno"><fa-icon [icon]="faTwitter" size="2x"></fa-icon></a>
    </div>
    <p>OMORI is a registered trademark of OMOCAT LLC.</p>
    <p>This website, as well as the translation are unofficial, non-profit and have no association with OMOCAT LLC.</p>
    <p>Website created by <a class="text-red-200" href="https://twitter.com/Skejveno">Skejven</a></p>
</div>
