<div class="text-center text-black text-xl px-6">
    <div class="flex justify-center items-center space-x-10 mb-2">
        <a href="" class="hover:text-red-700"><fa-icon [icon]="faDiscord" size="2x"></fa-icon></a>
        <!--<a href="" class="hover:text-red-700"><fa-icon [icon]="faTwitter" size="2x"></fa-icon></a>...-->
    </div>
    <p>OMORI is a registered trademark of <a class="text-red-800" href="https://www.omocat-shop.com/">OMOCAT LLC.</a>
    <br>
    This website, as well as the translation are unofficial, non-profit and have no association with OMOCAT LLC.
    <br>
    Website created by <a class="text-red-800" href="https://github.com/Skejven11">Skejven</a>, team portraits made using 
    <a class="text-red-800" href="https://twitter.com/sapgoon_">Sapgoon's</a> Picrew.</p>
</div>
