<div class="flex flex-wrap w-full h-full justify-center gap-x-16 gap-y-6">
    <team-item [name]="'Skejven'" [roles]="'Tłumacz, programista'" [discordLink]="'338065369006866434'" [twitterLink]="'Skejveno'" [imgSrc]="'portrait1.gif'"></team-item>
    <team-item [name]="'1'" [imgSrc]="'portrait2.gif'"></team-item>
    <team-item [name]="'2'" [imgSrc]="'portrait3.gif'"></team-item>
    <team-item [name]="'3'" [imgSrc]="'portrait4.gif'"></team-item>
    <team-item [name]="'4'" [imgSrc]="'portrait5.gif'"></team-item>
    <team-item [name]="'5'" [imgSrc]="'portrait6.png'"></team-item>
</div>
