<div class="flex flex-wrap w-full h-full justify-center gap-x-10 gap-y-10">
    <team-item [name]="'Skejven'" [roles]="'Tłumacz, programista, debil'" [discordLink]="'338065369006866434'" [twitterLink]="'Skejveno'" [imgSrc]="'portrait5.png'"></team-item>
    <team-item [name]="'1'" [roles]="'Tłumacz'" [imgSrc]="'portrait5.png'"></team-item>
    <team-item [name]="'2'" [imgSrc]="'portrait5.png'"></team-item>
    <team-item [name]="'3'" [imgSrc]="'portrait5.png'"></team-item>
    <team-item [name]="'4'" [imgSrc]="'portrait5.png'"></team-item>
    <team-item [name]="'5'" [imgSrc]="'portrait5.png'"></team-item>
    <team-item [name]="'6'" [imgSrc]="'portrait5.png'"></team-item>
    <team-item [name]="'7'" [imgSrc]="'portrait5.png'"></team-item>
</div>
