<div class="flex flex-wrap w-full h-full justify-center gap-x-10 gap-y-10 relative">
    <team-item [name]="'senmou'" [roles]="'Lider projektu, tłumacz, korektor'" [imgSrc]="'senmou.png'" [discordTag]="'sɛnmou#2070'" [tiktokLink]="'senmou__'"></team-item>
    <team-item [name]="'Michał Łukawski'" [roles]="'Tłumacz, korektor, piwosz'" [imgSrc]="'michal.png'" [discordTag]="'diavolossimo'"></team-item>
    <team-item [name]="'Oskar'" [roles]="'Wszystko po trochu'" [imgSrc]="'oskar.png'" [altPortrait]="'oskarcursed.png'" [youtubeLink]="'UCUm3EsHGdhwtTHci0TIA3-w'"></team-item>
    <team-item [name]="'Lien'" [roles]="'Tłumacz, korektor'" [imgSrc]="'lien.png'" [discordTag]="'lienhere'"></team-item>
    <team-item [name]="'snobistyczny'" [roles]="'Tłumacz'" [imgSrc]="'snobistyczny.png'" [discordTag]="'snobistyczny#5615'" [twitterLink]="'snobistyczny'"></team-item>
    <team-item [name]="'Elka'" [roles]="'Tłumacz'" [imgSrc]="'elka.png'" [discordTag]="'Elka#4354'"></team-item>
    <team-item [name]="'Maestro'" [roles]="'Tłumacz, korektor, tester, wielbiciel Basila'" [imgSrc]="'maestro.png'" [discordTag]="'maestro_0'" twitterLink="04Maestr0" tumblrLink="maestr0-04"></team-item>
    <team-item [name]="'Nat'" [roles]="'Tłumacz, korektor, kryptyda'" [imgSrc]="'nat.png'" [twitterLink]="'yvkkx'" [discordTag]="'yvkkie'"></team-item>
    <team-item [name]="'noctis'" [roles]="'Tłumacz, korektor, kociara'" [imgSrc]="'noctis.png'" [discordTag]="'ninius'"></team-item>
    <team-item [name]="'Kostiik'" [roles]="'Tłumacz, grafik, tester'" [imgSrc]="'kostiik.png'" [discordTag]="'kostiik'"></team-item>
    <team-item [name]="'Wojciech'" [roles]="'Tumacz, tester, dyslektyk'" [imgSrc]="'wojciech.png'" [discordTag]="'Wojciech#7605'"></team-item>
    <team-item [name]="'Niko'" [roles]="'Tłumacz, tester'" [imgSrc]="'niko.png'" [discordTag]="'holyniko'"></team-item>
    <team-item [name]="'Skejven'" [roles]="'Technik'" [imgSrc]="'skejven.png'" [discordTag]="'skejven'" [twitterLink]="'Skejveno'" instagramLink="makaron_dan_dan"></team-item>
    <team-item [name]="'Piotruś'" [roles]="'Technik'" [imgSrc]="'piotrus.png'" [discordTag]="'p1otrus_1'"></team-item>
    <team-item [name]="'Zzumi'" [roles]="'Korektor'" [imgSrc]="'zzumi.png'" [discordTag]="'Zzumi#4887'"></team-item>
    <team-item [name]="'luuou'" [roles]="'Korektor, fanatyk grubych książek'" [imgSrc]="'luuou.png'" [discordTag]="'.luuou'" [instagramLink]="'luuou.ofc'" spotifyLink="31y5egqyltrtvpdn4ml7kl2kxcfy?si=9786ec48e40b4203"></team-item>
    <team-item [name]="'Wilhelmus'" [roles]="'Korektor, Kwiaciarus'" [imgSrc]="'wilhelmus.png'"></team-item>
    <team-item [name]="'yukki'" [roles]="'Grafik, tłumacz, kelmistrz, DJ'" [imgSrc]="'yukki.png'" [instagramLink]="'b4churu'" [discordTag]="'yukki♡#8285'"></team-item>
    <team-item [name]="'Suhiroe'" [roles]="'Grafik'" [imgSrc]="'suhiroe.png'" [instagramLink]="'suhiroe'" [discordTag]="'Suhiroe#5316'"></team-item>
    <team-item [name]="'Nexumi'" [roles]="'Grafik, miłośnik trusek'" [imgSrc]="'nexumi.png'" [discordTag]="'nexumicat'"></team-item>
    <team-item [name]="'del0rt'" [roles]="'Tester'" [imgSrc]="'delort.png'"></team-item>
    <team-item [name]="'rialyy'" [roles]="'Tester'" [imgSrc]="'rialyy.png'" [discordTag]="'rialyy'" twitterLink="RialiXy"></team-item>
    <team-item [name]="'barytas'" [roles]="'Tester, dowódca wojska bartka'" [imgSrc]="'gustaw.png'" [discordTag]="'Gustaw Frędzle#9832'"></team-item>

    <div class="w-full flex justify-center">
        <div class="w-3/4">
            <h2 class="text-2xl text-center w-full mb-2">Specjalne podziękowania/Special thanks:</h2>
            <ul class="grid grid-cols-2 w-full text-center">
                <li>ylo</li>
                <li>Draughtnyan</li>
                <li>Noen Liet</li>
                <li>kitsou</li>
                <li>Zonya</li>
                <li>Vicky</li>
                <li>herman</li>
                <li>Camo</li>
                <li>wonek</li>
                <li>Sunn</li>
                <li>Char</li>
                <li>Eniu</li>
                <li>Osja</li>
                <li>Hoshizora</li>
                <li>Losieuu</li>
                <li>Marysh</li>
                <li>Qadorek</li>
                <li>Kirkor</li>
                <li>Jordan Forester</li>
                <li>Yane Yan</li>
                <li>Sosna</li>
                <li>Aii</li>
            </ul>
        </div>
    </div>

    <key-component [id]="1"
                   top="-50px"
                   right="0">
    </key-component>
</div>