<div class="flex w-full">
    <div class=" basis-1/2 flex justify-center">
        <omo-button [text]="'GŁÓWNA'" [link]="'/'"></omo-button>
    </div>
    <div class=" basis-1/2 flex justify-center">
        <omo-button [text]="'DOŁĄCZ'" [link]="'/apply'"></omo-button>
    </div>
    <div class=" basis-1/2 flex justify-center">
        <omo-button [text]="'ZESPÓŁ'" [link]="'/team'"></omo-button>
    </div>
    <div class=" basis-1/2 flex justify-center">
        <omo-button [text]="'FAQ'" [link]="'/faq'"></omo-button>
    </div>
</div>
