<div class="download-container text-2xl flex justify-center items-center h-full relative">
    <key-component [id]="2"
                   top="200px"
                   right="50%">
    </key-component>

    <a href="https://drive.google.com/drive/folders/18B0AQx6sdyDc-yyfu6rEwtLZK4efiOdm?usp=sharing" 
       class="download-button-container">
        <div class="download-button-inner-container">
            <div class="text-container">
                Pobierz spolszczenie!
            </div>
        </div>
    </a>
</div>
