<div class="download-container text-[40px] text-center flex justify-center flex-col items-center h-full relative">
    <key-component [id]="2"
                   top="200px"
                   right="50%">
    </key-component>

    <h1 class="mb-32 text-6xl">
        <p class="mb-12">
            <b>Spolszczenie jest już gotowe!</b>
        </p>
        <p class="text-[1.75rem]">
            Po ponad roku pracy, nasz zespół z dumą prezentuje Wam spolszczenie gry OMORI. Poniżej znajduje się link do poradnika steam, w 
            którym znajduje się link do pobrania spolszczenia, poradnik jak je zainstalować oraz jak zgłaszać ewentulane błędy. Miłej gry!
        </p>
    </h1>

    <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=3037054229" 
       class="download-button-container">
        <div class="download-button-inner-container">
            <div class="text-container">
                Pobierz spolszczenie!
            </div>
        </div>
    </a>
</div>
