/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --space-color: #6C0EFF;
    --red-color: #ff3e3e;
}

@font-face {
    font-family:"OMORI";
    src: url("/assets/font/OMORI_GAME2.ttf");
  }

@font-face {
    font-family:"OMORI2";
    src: url("/assets/font/Omori_game3-Regular.ttf");
}

html, body {
    font-family: 'OMORI';
    @apply w-full h-full m-0 block;
}

div[ng-view] {
    @apply w-full;
}

.space-color-txt {
    color: var(--space-color);
}

.space-color-bg {
    background-color: var(--space-color);
}

.space-color-border {
    border-color: var(--space-color);
}

.red-text {
    color: var(--red-color);
}

.red-border {
    border-color: var(--red-color);
}

.red-bg {
    background-color: var(--red-color)
}

.flip-image {
    transform: scaleX(-1);
}

.background {
    background-image: white;
}

.text-shadow {
    text-shadow: 1.5px 1.5px rgb(0, 0, 0), -1.5px -1.5px rgb(0, 0, 0);
}

.text-shadow-white {
    text-shadow: 1px 1px white, -1px -1px white;
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
  }

.scrollbar-hidden {
    -ms-overflow-style: none;
    scrollbar-width: none; /* Firefox */
}

.scroll-bottom:after {
    content: "";
    display: block;
    height: 50px;
    width: 100%;
}

.jsmsg {
    @apply flex justify-center flex-col items-center w-full h-full text-3xl px-10;
}

.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none; 
    -ms-user-select: none; 
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.szlam {
    background-image: url("/assets/img/szlamice.gif");
    background-size: cover; 
    background-repeat: no-repeat;
    background-position: center center; 
}

li {
    display: block;
}