/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --space-color: #6C0EFF;
    --red-color: #F51011;
}

@font-face {
    font-family:"OMORI";
    src: url("/assets/font/OMORI_GAME2.ttf");
  }

html, body, app-root {
    font-family: 'OMORI';
    @apply w-full h-full m-0;
}

div[ng-view] {
    @apply w-full;
}

.space-color-txt {
    color: var(--space-color);
}

.space-color-bg {
    background-color: var(--space-color);
}

.space-color-border {
    border-color: var(--space-color);
}

.red-text {
    color: var(--red-color);
}

.red-border {
    border-color: var(--red-color);
}

.red-bg {
    background-color: var(--red-color)
}

.flip-image {
    transform: scaleX(-1);
}

.background {
    background-image: white;
}

.text-shadow {
    text-shadow: 1.5px 1.5px rgb(0, 0, 0), -1.5px -1.5px rgb(0, 0, 0);
}

.text-shadow-white {
    text-shadow: 1px 1px white, -1px -1px white;
}
