<div class="flex justify-center items-center relative z-[2]">
    <h1 class="absolute right-[60%] text-black " [ngClass]="isBelowSm ? 'text-6xl right-[60%]' : 'text-[8rem]'">OMORI</h1>
    <div class="w-[10%] h-[10%]">
        <img class="cursor-pointer" src="../../../../assets/img/omori-pl.png"  [routerLink]="'/frontpage'">
        <div class="flex justify-center text-center">
            <h1 class="text-black " [ngClass]="isBelowSm ? 'text-4xl left-[55%]' : 'text-8xl'">P</h1>
            <h1 class="text-black " [ngClass]="isBelowSm ? 'text-4xl left-[55%]' : 'text-8xl'">O</h1>
        </div>
    </div>
    <h1 class="absolute left-[60%] text-black " [ngClass]="isBelowSm ? 'text-6xl left-[55%]' : 'text-[8rem]'">POLSKU</h1>
</div>
