<div class="flex justify-center items-center relative z-[2] font-omori2 no-select" [ngClass]="(appTheme$ | async).theme === 1 ? 'text-red-700': 'text-black'">
    <h1 class="absolute right-[61%] mr-4" [ngClass]="isBelowMd ? 'text-[2.3rem] right-[61%] mr-1' : isBelowLg ? 'text-[3.5rem]' : 'text-[5rem]'">
        {{(appTheme$ | async).theme === AppTheme.balbinka ? 'BALBIN' : 'OMORI'}}
    </h1>
    <div class="w-[10%]">
        <img class="cursor-pointer w-[50rem] z-[2] relative no-select" src="../../../../assets/img/{{bunny}}.gif" (click)="callCanvas()" 
        [ngClass]="isBelowMd ? 'w-[30rem]' : 'w-[50rem]'">
        <div class="flex justify-center">
            <h1 [ngClass]="isBelowMd ? 'text-2xl' : 'text-[3rem]'">P</h1>
            <h1 [ngClass]="isBelowMd ? 'text-2xl' : 'text-[3rem]'">O</h1>
        </div>
    </div>
    <h1 class="absolute left-[60%]" [ngClass]="isBelowMd ? 'text-[2rem] right-[60%]' : isBelowLg ? 'text-[3.5rem]' : 'text-[5rem]'">POLSKU</h1>
    <canvastar class="absolute z-0" #canvastar></canvastar>
</div>
