<div class="flex mb-3">
    <div *ngIf="article.date != null"
         class="h-12 border-2 border-white text-center text-3xl p-1 px-2">
        {{article.date}}
    </div>
    <div *ngIf="article.author != null"
         class="h-12 border-2 border-white text-center text-3xl p-1 px-2 ml-auto">
        {{article.author}}
    </div>
</div>
<div class="w-full border-2 border-white p-4" [ngClass]="isBelowMd ? 'text-xl' : 'text-2xl'">
    <span *ngIf="article.text != null"
          [innerHTML]="article.text"></span>
    <div class="flex flex-wrap mt-10 justify-center gap-6">
        <div *ngFor="let photo of article.photos; index as i" class="flex justify-center">
            <div class="border-2 border-white p-2 cursor-pointer hover:border-red-600 duration-500" (click)="onPhotoClick(article.photos, i)">
                <img width="250px" src="../../../assets/img/{{photo}}">
            </div>
        </div>
        <div *ngIf="article.video != null" class="w-full p-6 border-white border-2">
            <iframe [src]="article.video | safe" allowfullscreen class="w-full" [ngClass]="isBelowMd ? 'h-[250px]' : 'h-[500px]'">
            </iframe> 
        </div>
    </div>
</div>

<div class="fixed w-full h-full bg-black modal-window top-0 left-0 z-30 flex items-center" *ngIf="showPhoto" #modalWindow>
    <div class="w-full h-full flex justify-center items-center">
        <img src="../../../assets/img/red-hand-flipped.png" #previous class="w-12 h-8 absolute left-4 cursor-pointer" alt="">
        <div class="border-white border-4 p-4 max-h-full" [ngClass]="isBelowMd ? 'w-full' : 'w-1/2'">
            <img class="opacity-100 z-40 w-full max-h-[95vh]" src="../../../assets/img/{{photoSrc}}" #modalPhoto>
        </div>
        <img src="../../../assets/img/red-hand.png" #next class="w-12 h-8 absolute right-4 cursor-pointer" alt="">
    </div>
</div>